@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select {
  font-size: inherit;
}

/* VARIBLES */
:root {
  --PURPLE: #22092c;
  --ORANGE: #f05941;
}

/* ********************* */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--PURPLE);
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  font-size: 20px;
}

.title {
  font-size: 50px;
  color: var(--PURPLE);
  background-color: var(--ORANGE);
  text-align: center;
  box-shadow: 0 1px 4px var(--ORANGE);
}

.gameBoard {
  justify-self: center;
  align-self: center;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  font-size: 100px;
  color: #f05941;
}

.box {
  width: 133px;
  height: 134px;
  border: 2px solid #f05941;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playermode {
  display: flex;
  font-size: 27px;
  color: #f05941;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.human,
.robot {
  width: 200px;
  height: 250px;
  border: 4px solid #f05941;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
}

.human-img,
.robot-img {
  font-size: 60px;
}

.start-btn {
  background-color: #f05941;
  color: #22092c;
  padding: 10px;
  border: 2px solid #22092c;
  border-radius: 5px;
}

/* SELECTION CONTAINER */
.selection-ctn {
  color: var(--ORANGE);
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.selection-option {
  display: flex;
  gap: 60px;
}

.cross-selection,
.circle-selection {
  background-color: inherit;
  color: inherit;
  width: 200px;
  height: 250px;
  border: 4px solid #f05941;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.selection-ctn input {
  width: 200px;
  padding: 3px 5px;
  border-radius: 5px;
}

.scoreBoard {
  width: 400px;
  height: 230px;
  justify-self: center;
  align-self: center;
  border: 4px solid var(--ORANGE);
  color: var(--ORANGE);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.scoreBoard h1 {
  background-color: var(--ORANGE);
  color: var(--PURPLE);
  align-self: stretch;
  text-align: center;
}

.disply-scores-ctn {
  display: flex;
  gap: 20px;
}

.navigation-btn-ctn {
  display: flex;
  gap: 20px;
}

.navigation-btn-ctn button {
  font-size: 26px;
  background-color: #f05941;
  color: #22092c;
  padding: 5px;
  width: 125px;
}

.hide {
  display: none;
}
